GEMINI_API_KEY=sua_chave_gemini_aqui
SPREADSHEET_ID=id_da_sua_planilha_google_aqui
GOOGLE_APPLICATION_CREDENTIALS=storage/credentials.json
# URLS separadas por virgula ou um json, depois configuramos melhor
TARGET_SITES=https://site1.com,https://site2.com
